
!Software Version V500R005C10SPC300
!Last configuration was saved at 2024-12-21 13:36:53 UTC
#
sysname FW1
#
 l2tp domain suffix-separator @
#
vlan batch 11 22 100 150 to 151
#
 ipsec sha2 compatible enable 
#
undo telnet server enable
undo telnet ipv6 server enable
#
 update schedule location-sdb weekly Sun 05:14
#
 firewall defend action discard
#
 banner enable
#
 user-manage web-authentication security port 8887
 undo privacy-statement english
 undo privacy-statement chinese
page-setting
 user-manage security version tlsv1.1 tlsv1.2
password-policy
 level high
user-manage single-sign-on ad
user-manage single-sign-on tsm
user-manage single-sign-on radius
user-manage auto-sync online-user
#
 web-manager security version tlsv1.1 tlsv1.2
 web-manager enable
 web-manager security enable
#
firewall dataplane to manageplane application-apperceive default-action drop
#
 undo ips log merge enable
#
 decoding uri-cache disable
#
 update schedule ips-sdb daily 23:51
 update schedule av-sdb daily 23:51
 update schedule sa-sdb daily 23:51
 update schedule cnc daily 23:51
 update schedule file-reputation daily 23:51
#
vsys enable 
resource-class r0
#
#
vsys name vsys1 1
 assign vlan 11
 assign vlan 150
#
vsys name vsys2 2
 assign vlan 22
 assign vlan 151
#
ip vpn-instance default
 ipv4-family
#
ip vpn-instance vsys1
 ipv4-family
 ipv6-family
#
ip vpn-instance vsys2
 ipv4-family
 ipv6-family
#
 time-range worktime
  period-range 08:00:00 to 18:00:00 working-day   
#
ike proposal default
 encryption-algorithm aes-256 aes-192 aes-128 
 dh group14 
 authentication-algorithm sha2-512 sha2-384 sha2-256 
 authentication-method pre-share
 integrity-algorithm hmac-sha2-256 
 prf hmac-sha2-256 
#
aaa
 authentication-scheme default
 authentication-scheme admin_local
 authentication-scheme admin_radius_local
 authentication-scheme admin_hwtacacs_local
 authentication-scheme admin_ad_local
 authentication-scheme admin_ldap_local
 authentication-scheme admin_radius
 authentication-scheme admin_hwtacacs
 authentication-scheme admin_ad
 authorization-scheme default
 accounting-scheme default
 domain default
  service-type internetaccess ssl-vpn l2tp ike
  internet-access mode password
  reference user current-domain
 manager-user audit-admin 
  password cipher @%@%y~\p##wVt'~WR9MQJa+<f.L|$~Y}A*bc[LhY|j0$8@g6.L"f@%@%
  service-type web terminal 
  level 15 

 manager-user api-admin 
  password cipher @%@%=CcVOjyAX#vlUWSXd`QEIZB01{sjG0sKg1~i9bAzzWN!ZB3I@%@%
  level 15 

 manager-user admin 
  password cipher @%@%t^N2Z1yCX#7ZiWIt.mH-MC+Dn|`Q*6c*;THEt0HZVM{MC+GM@%@%
  service-type web terminal 
  level 15 

 role system-admin
 role device-admin
 role device-admin(monitor)
 role audit-admin
 bind manager-user audit-admin role audit-admin
 bind manager-user admin role system-admin
#
interface Vlanif11
 ip binding vpn-instance vsys1
 ip address 192.168.11.2 255.255.255.0
 service-manage ping permit
#
interface Vlanif22
 ip binding vpn-instance vsys2
 ip address 192.168.22.2 255.255.255.0
 service-manage ping permit
#
interface Vlanif150
 ip binding vpn-instance vsys1
 ip address 10.5.1.1 255.0.0.0
 service-manage ping permit
#
interface Vlanif151
 ip binding vpn-instance vsys2
 ip address 12.5.1.1 255.0.0.0
 service-manage ping permit
#
l2tp-group default-lns
#
interface GigabitEthernet0/0/0
 undo shutdown
 ip binding vpn-instance default
 ip address 192.168.0.1 255.255.255.0
 alias GE0/METH
#
interface GigabitEthernet0/0/0.10
#
interface GigabitEthernet1/0/0
 portswitch
 undo shutdown
 port link-type trunk
 port trunk allow-pass vlan 11 22 100 150 to 151
#
interface GigabitEthernet1/0/1
 undo shutdown
#
interface GigabitEthernet1/0/2
 undo shutdown
#
interface GigabitEthernet1/0/3
 undo shutdown
#
interface GigabitEthernet1/0/4
 undo shutdown
#
interface GigabitEthernet1/0/5
 undo shutdown
#
interface GigabitEthernet1/0/6
 undo shutdown
#
interface Virtual-if0
#
interface Virtual-if1
 ip address 172.16.12.1 255.255.0.0
#
interface Virtual-if2
 ip address 172.16.12.2 255.255.0.0
#
interface NULL0
#
firewall zone local
 set priority 100
#
firewall zone trust
 set priority 85
 add interface GigabitEthernet0/0/0
 add interface GigabitEthernet1/0/0
 add interface Virtual-if0
#
firewall zone untrust
 set priority 5
#
firewall zone dmz
 set priority 50
#
ip route-static 192.168.10.0 255.255.255.0 10.5.1.5
ip route-static 192.168.30.0 255.255.255.0 10.5.1.5
ip route-static vpn-instance vsys1 192.168.40.0 255.255.255.0 vpn-instance vsys2
ip route-static vpn-instance vsys2 192.168.20.0 255.255.255.0 vpn-instance vsys1
#
undo ssh server compatible-ssh1x enable
ssh authentication-type default password
ssh server cipher aes256_ctr aes128_ctr
ssh server hmac sha2_256 sha1
ssh client cipher aes256_ctr aes128_ctr
ssh client hmac sha2_256 sha1
#
firewall detect ftp
#
user-interface con 0
 authentication-mode aaa
user-interface vty 0 4
 authentication-mode aaa
 protocol inbound ssh
user-interface vty 16 20
#
pki realm default
#
sa
#
location
#
multi-linkif
 mode proportion-of-weight
#
right-manager server-group
#
device-classification
 device-group pc
 device-group mobile-terminal
 device-group undefined-group
#
user-manage server-sync tsm
#
security-policy
 rule name utl2utl
  source-zone local
  source-zone trust
  source-zone untrust
  destination-zone local
  destination-zone trust
  destination-zone untrust
  service icmp
  action permit
#
auth-policy
#
traffic-policy
#
policy-based-route
#
nat-policy
#
quota-policy
#
pcp-policy
#
dns-transparent-policy
#
rightm-policy
#
return
#
switch vsys vsys1 
#
 l2tp domain suffix-separator @
#
 firewall defend action discard
#
page-setting
password-policy
 level high
#
 time-range worktime
  period-range 08:00:00 to 18:00:00 working-day   
#
aaa
 authentication-scheme default
 authentication-scheme admin_local
 authentication-scheme admin_radius_local
 authentication-scheme admin_hwtacacs_local
 authentication-scheme admin_ad_local
 authentication-scheme admin_ldap_local
 authentication-scheme admin_radius
 authentication-scheme admin_hwtacacs
 authentication-scheme admin_ad
 authorization-scheme default
 accounting-scheme default
 domain default
  service-type internetaccess ssl-vpn l2tp ike
  internet-access mode password
  reference user current-domain
 role system-admin
 role device-admin
 role device-admin(monitor)
 role audit-admin
#
interface Vlanif11
 ip binding vpn-instance vsys1
 ip address 192.168.11.2 255.255.255.0
 service-manage ping permit
#
interface Vlanif150
 ip binding vpn-instance vsys1
 ip address 10.5.1.1 255.0.0.0
 service-manage ping permit
#
l2tp-group default-lns
#
interface Virtual-if1
 ip address 172.16.12.1 255.255.0.0
#
sa
#
firewall zone local
 set priority 100
#
firewall zone trust
 set priority 85
 add interface Virtual-if1
 add interface Vlanif11
#
firewall zone untrust
 set priority 5
 add interface Vlanif150
#
firewall zone dmz
 set priority 50
#
location
#
multi-linkif
 mode proportion-of-weight
#
security-policy
 rule name utl2utl
  source-zone local
  source-zone trust
  source-zone untrust
  destination-zone local
  destination-zone trust
  destination-zone untrust
  service icmp
  action permit
#
auth-policy
#
traffic-policy
#
policy-based-route
#
nat-policy
#
quota-policy
#
pcp-policy
#
ip route-static 192.168.10.0 255.255.255.0 192.168.11.1
ip route-static 192.168.20.0 255.255.255.0 192.168.11.1
ip route-static 192.168.30.0 255.255.255.0 10.5.1.5
ip route-static 192.168.100.0 255.255.255.0 10.5.1.5
#
return
#
switch vsys vsys2 
#
 l2tp domain suffix-separator @
#
 firewall defend action discard
#
page-setting
password-policy
 level high
#
 time-range worktime
  period-range 08:00:00 to 18:00:00 working-day   
#
aaa
 authentication-scheme default
 authentication-scheme admin_local
 authentication-scheme admin_radius_local
 authentication-scheme admin_hwtacacs_local
 authentication-scheme admin_ad_local
 authentication-scheme admin_ldap_local
 authentication-scheme admin_radius
 authentication-scheme admin_hwtacacs
 authentication-scheme admin_ad
 authorization-scheme default
 accounting-scheme default
 domain default
  service-type internetaccess ssl-vpn l2tp ike
  internet-access mode password
  reference user current-domain
 role system-admin
 role device-admin
 role device-admin(monitor)
 role audit-admin
#
interface Vlanif22
 ip binding vpn-instance vsys2
 ip address 192.168.22.2 255.255.255.0
 service-manage ping permit
#
interface Vlanif151
 ip binding vpn-instance vsys2
 ip address 12.5.1.1 255.0.0.0
 service-manage ping permit
#
l2tp-group default-lns
#
interface Virtual-if2
 ip address 172.16.12.2 255.255.0.0
#
sa
#
firewall zone local
 set priority 100
#
firewall zone trust
 set priority 85
 add interface Virtual-if2
#
firewall zone untrust
 set priority 5
 add interface Vlanif151
 add interface Vlanif22
#
firewall zone dmz
 set priority 50
#
location
#
multi-linkif
 mode proportion-of-weight
#
security-policy
 rule name utl2utl
  source-zone local
  source-zone trust
  source-zone untrust
  destination-zone local
  destination-zone trust
  destination-zone untrust
  service icmp
  action permit
#
auth-policy
#
traffic-policy
#
policy-based-route
#
nat-policy
#
quota-policy
#
pcp-policy
#
ip route-static 192.168.10.0 255.255.255.0 12.5.1.5
ip route-static 192.168.30.0 255.255.255.0 192.168.22.1
ip route-static 192.168.40.0 255.255.255.0 192.168.22.1
ip route-static 192.168.100.0 255.255.255.0 12.5.1.5
#
return  